/*css样式初始化*/
body, dl, dd{
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;
	color: #b3bcc5;
	font-size: 14px;
	background-repeat: no-repeat;
}
html, body, .wrapper{
	height: 100%;
	min-width: 700px;
}
.header{
	width: 100%;
	height: 70px;
	background: #354457;
}
.header .logo{
	widows: 200px;
	height: 70px;
	padding-left: 20px;
	line-height: 70px;
}
.header .logo img{
	widows: 30px;
	height: 30px;
	/*含有行级特点的元素特有的属性*/
	vertical-align: middle;
}
.header .logo span{

}
.left-menu{
	float: left;
	width: 200px;
	/*calc是css中计算的一个方法*/
	height: calc(100% - 70px);
	background: #4d5e70;
}
.left-menu dl dt{
	padding-left: 20px;
	font-weight: bold;
	height: 40px;
	line-height: 40px;
}
.left-menu dl dd{
	padding-left: 30px;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
}
.left-menu dl dd:hover{
	background: rgba(255, 255, 255, 0.5);
	color: #354457;
}
.left-menu dl dd.active{
	background: #ddd;
	color: #354457;
}
.right-content{
	float: right;
	width: calc(100% - 200px);
	min-width: 500px;
	background: #eee;
	height: calc(100% - 70px);
	position: relative;
}
.right-content .add-student{
	display: none;
}
.right-content form{
	width: 400px;
	/*border: 1px solid black;*/
	margin: 50px auto;
}
.right-content form label{
	width: 100px;
	display: inline-block;
	text-align: right;
	padding-right: 10px;
	color: #000;
	font-size: 16px;
}
.right-content form label.label-sex{
	width: 20px;
	text-align: left;
}
.right-content form div{
	margin: 10px 0;
}
.right-content form .btn{
	padding: 5px 25px;
}
.right-content .student-list{
	display: none;
}
.right-content .student-list table{
	width: 100%;
}
.right-content .student-list table thead{
	background: #e3e8ee;
	color: #646987;
	font-size: 14px;
}
.right-content .student-list table tbody{
	background: #fff;
	color: #000;
	text-align: center;
}
.right-content .student-list table tr{
	height: 30px;
	line-height: 30px;
}
.right-content .student-list table .btn{
	padding: 3px 10px;
	color: #fff;
	font-size: 12px;
	border: none;
	cursor: pointer;
	outline: none;
}
.right-content .student-list table .btn.edit{
	background: #5cb85c;
}
.right-content .student-list table .btn.del{
	background: #d9534f;
}
.right-content .student-list table .btn.edit:hover{
	background: #398439;
}
.right-content .student-list table .btn.del:hover{
	background: #c9302c;
}
.content{
	position: absolute;
	width: 100%;
}
.student-list .model{
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}
.student-list .model .mask{
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.5);
}
.student-list .model .model-content{
	background: #fff;
	width: 500px;
	height: 450px;
	position: absolute;
	margin-left: -250px;
	margin-top: 225px;
	left: 50%;
	height: 50%;
}
.student-list .model-content h3{
	color: #000;
	text-indent: 2em;
}
.student-list .model-content form{
	margin-top: 10px;
}
.content-active{
	display: block !important;
}
.student-list .page-box{
	position: fixed;
	top: 600px;
	left: 1300px;
}
.student-list .page-box .page-list ul li{
	list-style: none;
	float: left;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #4d5e70;
	color: #fff;
	border-radius: 3px;
	margin-right: 3px;
	cursor: pointer;
}